name: Update GithubContributionGraphDarkGif

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:

concurrency:
  group: gameoflife-push
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: SilenZcience/GameOfLifeAction@v1
        with:
          path: 'GameOfLife'
          gif-name: GithubContributionGraphDarkGif
          do-gif: 'true'
          gif-file: 'https://github-readme-activity-graph.vercel.app/graph?username=SilenZcience&custom_title=Silas+Kraume''s%20Contribution%20Graph&theme=merko&bg_color=141321&hide_border=true&line=d83a7d&point=f7d747#gh-dark-mode-only'
          gif-length: '500'
          commit: 'true'
