name: Update GithubLanguagesUsedLightGif

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:

concurrency:
  group: gameoflife-push
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: SilenZcience/GameOfLifeAction@v1
        with:
          path: 'GameOfLife'
          gif-name: GithubLanguagesUsedLightGif
          do-gif: 'true'
          gif-file: 'https://github-readme-stats-sigma-red.vercel.app/api/top-langs/?username=SilenZcience&langs_count=10&theme=vue&hide_border=true&include_all_commits=true&count_private=true&layout=compact&hide=Makefile,Batchfile,HTML,Hack,Scilab,PowerShell&card_width=320#gh-light-mode-only'
          gif-length: '500'
          commit: 'true'
