name: Update GithubProfileStatsDarkGif

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:

concurrency:
  group: gameoflife-push
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: SilenZcience/GameOfLifeAction@v1
        with:
          path: 'GameOfLife'
          gif-name: GithubProfileStatsDarkGif
          do-gif: 'true'
          gif-file: 'https://github-readme-stats-sigma-red.vercel.app/api?username=SilenZcience&show_icons=true&include_all_commits=true&hide=issues,contribs&count_private=true&theme=radical&hide_border=true#gh-dark-mode-only'
          gif-length: '500'
          commit: 'true'
